[user]
	name = YoshiYoshiPro
	email = hiro.engineer0690@gmail.com
[push]
	default = current
[init]
	defaultBranch = main
[fetch]
	prune = true
[status]
	showUntrackedFiles = all
[core]
	autocrlf = input
	ignorecase = false
	quotepath = false
	precomposeunicode = true
	excludesfile = /Users/yoshi/.config/git/ignore
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[merge]
	conflictStyle = diff3
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
